/datasets/*
!/datasets/*.*
debug_out*/
submodules/raymarching_og/
submodules/stable-diffusion-resources/
visualizations/
/archive/
/load_module.sh
.DS_Store
build/
__pycache__/
*.pyc
*.pyo

sdxl-venv/
assets/

*.png
*.pt
